* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: rgba(72, 163, 0, 0.07);
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: clamp(1.8rem, calc(5vw + 0.5rem), 4.4rem);
  font-weight: 800;
  text-align: center;
  margin-block: 12px;
}
span {
  color: #48a300;
}
.container {
  margin: auto;
  max-width: 65vw;
  padding: max(1rem, 2%);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 8px 0px rgb(0, 0, 0, 0.1);
}
h2 {
  font-size: clamp(1rem, calc(1.8vw + 0.5rem), 1.8rem);
}
p {
  font-size: clamp(0.7rem, calc(1.5vw + 0.5rem), 1rem);
  padding-block: 5px;
  font-weight: 400;
  color: #858585;
}
.progressBar {
  margin-block: 10px;
  width: 100%;
  height: 20px;
  border-radius: 10px;
  background-color: #e0ffca;
  & .progress {
    width: 70%;
    height: 100%;
    background-color: #8adf44;
    border-radius: 10px;
    display: flex;
    padding-left: 20px;
    align-items: center;
    font-size: 13px;
  }
}
.error {
  p {
    font-size: clamp(0.5rem, calc(1.2vw + 0.5rem), 0.8rem);
    padding-block: 5px;
    font-weight: 400;
    color: #e10000;
  }
}
.goal {
  max-width: 100%;
  height: 8vh;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  border: 1px solid rgb(226, 226, 226);
  margin-block: max(1.2rem, 2.2%);
  & .circle {
    margin-left: max(1rem, 2%);
    width: 23px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid rgb(226, 226, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
      width: 100%;
      height: 100%;
    }
  }
  & input {
    margin-left: max(0.8rem, 2%);
    outline: none;
    border: none;
    width: 80%;
    height: 100%;
    font-size: 1.8vh;
  }
}
::placeholder {
  font-weight: 500;
  color: #aaaaaa;
}

.move {
  text-align: center;
  color: #000000;
}
.made {
  margin-top: max(2rem, 2%);
  text-align: center;
  color: #aaaaaa;
  font-size: clamp(.5rem,calc(1vw + 0.5rem), .8rem);
}

/* Responsive 500px */
@media (max-width: 500px) {
  .container {
    max-width: 85vw;
  }
  h2 {
    font-size: 1.3rem;
  }
}
